* {
    /* color: white; */
    /* background-color: black; */
    margin: 10px;
    padding: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color:rgb(201, 175, 201);
}

#myphoto {
    width: 200px;
    height: 200px;
}

#myphoto:hover {
    width: 300px;
    height: 300px;
    border: 2px solid black;
}

iframe {
    width: 100%;
}

.techlogos img {
    height: 40px;
    width: 40px;
}

.techlogos img:hover {
    height: 100px;
    width: 100px;
    border: 2px solid black;
}

#about:hover {
    border: 2px solid black;
}

.techlogos:hover {
    border: 2px solid black;
}

#hobbies:hover {
    color: black;
    border: 2px solid black;
}

.sociallinks img {
    height: 20px;
    width: 20px;
}

#hobbies img {
    height: 100px;
}

#hobbies img:hover {
    height: 150px;
    width: 150px;
}